body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-left h1 {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-left h2 {
  font-size: 34px;
  margin-top: 20px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-left ul {
  margin-top: 50px;
}

.login-left li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
  font-size: 18px;
}

.login-left svg {
  color: #dff6ff;
}
.login-left span {
  color: #dff6ff;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f5f7fa, #e4e7eb);
}

.login-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.login-card:hover {
  transform: translateY(-5px);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.role-toggle {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #e0e0e0;
}

.role-toggle .active {
  background: #007bff;
  color: white;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

.register-link span {
  color: #007bff;
  cursor: pointer;
}

.login-left {
  flex: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: white;
}

.login-left * {
  position: relative;
  z-index: 2;
}
.left-content {
  max-width: 500px;
}

.login-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 123, 255, 0.85),
    rgba(0, 198, 255, 0.75),
    rgba(0, 198, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}
